@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";


@media (min-width: 400px) {
    .container-fluid {
        background-color:  rgba(147, 171, 50, 0.7);

        
    }
    .custom-navbar-collapse {
        background-color: rgb(107, 129, 114); /* Color de fondo oscuro transparente */
      }
      .custom-navbar-collapse .navbar-nav .nav-link {
        color: white; /* Color blanco para los elementos del menú */
      }
      
      
    

 @media (min-width: 768px) {
    .container-fluid {
        background-color:  rgba(147, 171, 50, 0.7);


    }
    


@media (min-width: 992px) {
    .container-fluid {
        background-color: rgba(0, 0, 0, 0.7);

    }

    .header-btns .btn {
        margin-right: 10px;
        
    }
    .custom-navbar-collapse {
        background-color: transparent; /* Color de fondo transparente en pantallas grandes */
    }
    .custom-navbar-collapse .navbar-nav .nav-link {
        color: black; /* Color blanco para los elementos del menú */
      }
    
   
}}}